{% extends 'customer/base1.html' %}
{% load static %}

{% block content %}
<style>
.form-control{
  width:30vw;
  height:30px;
  left:0px;
}
</style>

<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Our Amazing Properties</h1>
          <span class="color-text-a">Search for Properties here</span>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
             Search
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

{% comment %} <div  style="height:300vh;"> {% endcomment %}
 
  <style>
    /* Style for input fields */
  #city{
      width: 500px; /* Adjust the width as needed */
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-sizing: border-box; /* Ensures padding and border are included in width */
    }
  
    /* Style for submit button */
    .w3-btn {
      padding: 10px 20px;
      background-color: purple; /* Green */
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }
  
    /* Hover effect for submit button */
    .w3-btn:hover {
      background-color: purple; /* Darker green */
    }
  </style>
  
  <div style="text-align: center;">
    <form class="w3-container" action="/customer_portal/search_results/" method="post">
      {% csrf_token %}
      {% comment %} <label for="city">Enter City Name:</label>  {% endcomment %}
      <br>
      <input type="text" id="city"  placeholder="Search by City" name="city" required="True">
      <br><br>
      <input class="w3-btn w3-green" type="submit" value="Search">
    </form>
  </div>
  
  
    


</div>


<section class="property-grid grid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="grid-option">
          <!-- Optional: Add any filter or sort options here -->
        </div>
      </div>

      {% for house in houses %}
      <div class="col-md-4">
        <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img src="{{ house.image.url }}" alt="" style="height: 400px;" class="img-a img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="#">{{ house.area.city }}
                    <br /> {{ house.address }}</a>
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">₦ {{ house.price }} | {{house.type}}</span>
                </div>
                <form action="/customer_portal/rent/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{ house.id }}">
                <input type="submit" value="Click here to view">
                  <span class="bi bi-chevron-right"></span>
                </a>

              </form>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">Area</h4>
                    <span>{{ house.area.size }} m<sup>2</sup></span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Beds</h4>
                    <span>{{ house.bedrooms }}</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Baths</h4>
                    <span>{{ house.bathrooms }}</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">Garages</h4>
                    <span>{{ house.garage }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
</section>

{% endblock %}
